<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SelfSize.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2CBE9DB41D3C71A200E705F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CBE9DC81D3C71A400E705F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CBE9DD31D3C71A400E705F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
